.login-route {
  height: 100vh;
  background-image: url('https://res.cloudinary.com/daltzmh3x/image/upload/v1694261965/Login_Empty_blonwl.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}
@media screen and (min-width: 768px) {
  .login-route {
    background-image: none;
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}
.website-landing-img-container-md {
  display: none;
}
@media screen and (min-width: 786px) {
  .website-landing-img-container-md {
    display: block;
    width: 50vw;
    height: 100vh;
  }
}
.website-bg-img-md {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 786px) {
  .form-card-container {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1400px) {
  .form-card-container {
    padding-left: 100px;
  }
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 312px;
  margin-top: 256px;
}
@media (min-width: 768px) {
  .login-form {
    width: 456px;
    height: 561px;
    background: #fefeff;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    border-radius: 8px;
    align-items: center;
    margin-top: 0;
  }
}
.website-logo-login {
  display: none;
}
@media (min-width: 768px) {
  .website-logo-login {
    display: block;
    margin-top: 48px;
    margin-bottom: 0;
  }
}
.website-name-login {
  display: none;
}

@media (min-width: 768px) {
  .website-name-login {
    display: block;
    height: 32px;
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #f7931e;
    margin-top: 2.14px;
  }
}
.login-form-heading {
  font-family: 'DM Sans';
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  color: #0f172a;
  margin-bottom: 32px;
}
.input-boxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-input-label {
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #475569;
  margin-bottom: 8px;
  margin-top: 24px;
}
.login-input {
  height: 40px;
  width: 312px;
  background: #e2e8f0;
  border-radius: 2px;
  border: none;
  font-family: 'DM Sans';
  font-weight: 400;
}
